body {
    margin: 0px 20px;
}

li, a {
    text-decoration: none;
    font-size: 20px;
    color: black;
    font-weight: 800;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
}

.navitems {
    list-style: none;
}

.navitems li {
    display: inline-block;
    padding: 0px 20px;
}

.navitems li a {
    transition: all 0.3s ease 0s;
}

.navitems li a:hover {
    color:orangered;
}

.brand {
    display: block;
    color: orangered;
    font-size: 30px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 700;
    margin-right: auto;
}

.hero {
    display: flex;
    height: 70vh;
    width: 100%;
    background-image: linear-gradient(to right, black, orangered);
    color: white;
    justify-content: space-between;
    align-items: center;
    background-attachment: fixed;
}

.texthero {
    font-size: 45px;
    margin-left: 200px;
 }

.imagehero {
    border: none;
    border-radius: 50%;
    margin-right: 200px;
}

.imagehero:hover {
    transform: scale(1.5);
}

.characteristics {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    margin-left: 25%;
    margin-top: -2.5%;
    background-color:beige;
    border-radius: 10px;
    padding: 10px;
}

.breedgroup, .birthday, .placebirth, .height, .weight{
    text-align: center;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
}

.characteristics i{
    font-size: 25px;
    color: orangered;
}

.characteristics span{
    align-items: center;
    font-weight: bold;
    font-size: 20px;
    color: orangered;
}

/* Container for skill bars */
.containerskill {
    width: 30%; /* Full width */
    background-color: #ddd; /* Grey background */
    margin: 0px;
}
  
.skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left; /* Left-align text */
    padding-top: 10px; /* Add top padding */
    padding-bottom: 10px; /* Add bottom padding */
    color: black; /* Black text color */
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
  
.skills_energy {width: 90%; background-color: orangered; text-align: center;} 
.skills_playfulness {width: 80%; background-color: orangered; text-align: center;} 
.skills_frienddogs {width: 65%; background-color: orangered; text-align: center;} 
.skills_friendstranger {width: 60%; background-color: orangered; text-align: center;} 
.skills_training {width: 40%; background-color: orangered; text-align: center;} 
.skills_sensitivity {width: 70%; background-color: orangered; text-align: center;} 
.skills_exercise {width: 50%; background-color: orangered; text-align: center;} 
.skills_affection {width: 100%; background-color: orangered; text-align: center;} 
.skills_friendpet {width: 60%; background-color: orangered; text-align: center;} 
.skills_watchfulness {width: 95%; background-color: orangered; text-align: center;} 

