body {
    margin: 0px 20px;
}

li, a {
    text-decoration: none;
    font-size: 20px;
    color: black;
    font-weight: 800;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
}

.navitems {
    list-style: none;
}

.navitems li {
    display: inline-block;
    padding: 0px 20px;
}

.navitems li a {
    transition: all 0.3s ease 0s;
}

.navitems li a:hover {
    color:orangered;
}

.brand {
    display: block;
    color: orangered;
    font-size: 30px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 700;
    margin-right: auto;
}

.hero {
    display: flex;
    height: 70vh;
    width: 100%;
    background-image: linear-gradient(to right, black, orangered);
    color: white;
    justify-content: space-between;
    align-items: center;
}

.texthero {
    font-size: 45px;
    margin-left: 200px;
 }

.imagehero {
    border: none;
    border-radius: 50%;
    margin-right: 200px;
}

.characteristics {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    margin-left: 25%;
    margin-top: -2.5%;
    background-color:beige;
    border-radius: 10px;
    padding: 10px;
}

.breedgroup, .birthday, .placebirth, .height, .weight{
    text-align: center;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
}

.characteristics i{
    font-size: 25px;
    color: orangered;
}

.characteristics span{
    align-items: center;
    font-weight: bold;
    font-size: 20px;
    color: orangered;
}

